@tailwind base;
@tailwind components;
@tailwind utilities;

.header-menu.active{
   box-shadow: 2px 2px 2px 2px #be7683;
    border: none;

}


.favorite{
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    right: 28px;
    bottom: 28px;
    width: 40px;
    height: 37px;
    background: url("./assets/images/usually.svg") no-repeat center/contain;
    display: none;

}
.favorite:hover{
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    right: 28px;
    bottom: 28px;
    width: 40px;
    height: 37px;
    background-image: url("./assets/images/favorite.svg");


}

.cat-card:hover .favorite{
    display: block;
}

.delete-btn{
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    right: 28px;
    top: 28px;
    width: 40px;
    height: 37px;

}

.pagination{
 margin-left: 1150px;

}